#first_block {
	flex-grow: 1;
	width: 100%;
	background-color: #F4F9E2;
	display: flex; 
	flex-direction: column; 
	align-items: stretch; 
	height: 840px;		
	background: linear-gradient(213.71deg, #FFFFFF, rgba(255, 255, 255, 0) 10%), url(../img/Mask_Group.png);
	background-repeat: no-repeat;
	background-position: right;
}

#first_block nav {
	display: flex; 
	width: 100%; 
	height: 100px;
}

#first_block nav #first_block_nav_elem_1 {
	flex-grow: 1; 
	text-align: center;
}


#first_block nav #first_block_nav_elem_2 {
	flex-grow: 1;
}

#first_block nav #first_block_nav_elem_2 ul {
	margin-top: 25px;
}

#first_block nav #first_block_nav_elem_2 ul li {
	display: inline; 
	padding: 20px 30px;
} 

#first_block nav #first_block_nav_elem_2 ul li a {
	color: #22356F;
	padding: 5px 10px;
	text-decoration: none;
}

#first_block nav #first_block_nav_elem_2 ul li a:hover {
	border-bottom: 3px solid #22356F;
	transition: 0.04s;
}

#first_block nav #first_block_nav_elem_3 {
	max-width: 100px;
	flex-grow: 1; 
	display: table;
}

#first_block nav #first_block_nav_elem_3 button {
	display: table-cell;
	vertical-align: middle;
	margin-top: 15px;
}


#first_block_content {

	margin-left: 120px;
	margin-top: 100px;
} 

#first_block_content_text {
	width: 480px;
}

#first_block_content_text div {
	margin-top: 20px;
	margin-bottom: 20px;
} 

#first_block_content_text h1 {
	font-size: 48px;
	color: #22356F;
	margin-top: 20px;
	margin-bottom: 20px;	
}

#first_block_container_text_paragraph {
	font-size: 24px;
	line-height: 42px;
	color: #22356F;
	margin-top: 20px;
	margin-bottom: 20px;		

}

#first_block_buttons button {
	border: 0px;
	font-weight: bold;
	color: #F9B640;
	background-color: rgba(255, 255, 255, 0.0);
	margin-top: 30px;
	margin-bottom: 30px;
	width: 150px;
	height: 50px;

}


#first_block_buttons button:hover {
	background-color: #F9B640;
	color: white;
	transition: 0.2s;
} 

#contact_us {
	font-size: 14px;
	font-weight: 600;
	color: white; 
	margin: 0px 50px;
	padding: 15px 20px; 
	border-radius: 25px;
	background-color: #62D0DF;
	border: 0px solid white;
	width: 150px;
} 


.logo_text {
	font-size: 24px;
	font-weight: 600; 
	color: #62D0DF;
}