#third_block {
	width: 100%;
	display: flex;
	flex-direction: row;
} 

#third_block_content {
	padding-left: 60px;
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	
} 

#third_block_title {
	color: #22356F;
	flex-grow: 2;
	margin-top: 80px;
} 

#third_block_main_text {
	color: #22356F;
	padding-left: 50px;
	font-size: 36px; 
	width: 600px;
	flex-grow: 1;
}

#third_block_main_text span {
	color: #6CD3E1;
}

#third_block_link {
	flex-grow: 1;
} 

#third_block_link a {
	color: #FAB63E;
	text-decoration: none;
	position: relative;
	top: 40px;
	padding: 20px 50px;
} 

#third_block_link a:hover {
	background-color: #FAB63E;
	color: white;
	transition: 0.2s;
}